body
{
    text-align: center;
    font-size: 20px;
}
.heading
{
    font-size: 55px;
    margin: 50px 0 0;
}
.subheading
{
    font-size: 30px;
    font-weight: bold;
    color: green;
}
.inputs
{
    text-align: left;
    width: 70%;
    margin: 0 auto;
}
#name
{
    height: 30px;
    width: 90%;
    margin: 10px;
}
#date
{
    height: 30px;
    width: 40%;
    margin: 10px 10px 10px 20px;
}
#amt
{
    height: 30px;
    width: 40%;
    margin: 10px;
}
#addBtn
{
    margin: 30px;
    padding: 10px 30px;
    background: green;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid green;
    border-radius: 5px; 
    transition-duration: 0.7s; 
}
#addBtn:hover
{
    background: rgb(2, 230, 2);
    color: black;
}

table
{
    margin: 10px auto;
    width: 80%;
}
table,th,td
{
    border: 1px solid;
    border-collapse: collapse;
}
th
{
    height: 40px;
    background: rgb(6, 153, 6);
}
td
{
    padding: 5px;
}
.n
{
    width: 40%;
}
.d
{
    width: 20%;
}
.a
{
    width: 25%;
}
.total
{
    font-weight: bold;
    background: rgb(253, 251, 227);
}
tr button
{
    border: none;
    background-color: white;
    font-size: 20px;
    transition-duration: 0.7s;
}
tr button:hover
{
    color: red;
}
.emp
{
    padding: 10px;
    background: rgb(253, 251, 227);
}